RESTAURANT_CONFIG=biacreps
PORT=3001
WHATSAPP_QR_COMPACT=true
WHATSAPP_TARGET_GROUP_NAME=Rascunho
WHATSAPP_ALLOW_SELF_TEST=false
WEB_MENU_URL=http://localhost:5173
PIX_KEY=000.000.000-00
PIX_KEY_BIACREPS=000.000.000-00
PIX_KEY_HAMBURGUERIA=000.000.000-00
STORE_WHATSAPP_NUMBER=5511999999999
